p{
  font-family: "黑体", sans-serif;
  font-size: 1.5em;
  line-height: 1.5em;
  color: white;

}
.bg{
  background: url("images/task3_30.png") repeat;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
.img1{
  width: 10%;
  padding-top: 2%;
  padding-left: 2%;
}
.con1{
  width: 100%;
  padding-top: 5%;
  text-align: center;
}
.con2{
  width: 72%;
  padding-top: 15%;
  padding-bottom: 20%;
  margin: 0 auto;
  font-size: 1.2em;
  line-height: 2em;
  color: white;
}
.footer{
  width: 100%;
  padding-bottom: 30%;

}

.footer_l{
  float: left;
  width: 50%;
  text-align: center;
}

.footer_r{
  float: right;
  width: 50%;
  text-align: center;
}

