
body{
  font-family: "黑体",sans-serif;
  background: #eff0f4;
}
.header{
  width: 100%;
  height: 4em;
  line-height: 4em;
  background: #5fc0cd;
  text-align: center;
}

.content{
  height: 4em;
  line-height: 4em;
  margin: 1em 0;
  background: white;
}

img{
  height: 1.7em;
  margin-left:1.5em;
  vertical-align: middle;
}

input{
  width: auto;
  height: auto;
  margin-left: 1em;
  border-style: none;
  outline: none;
}
p{
  font-size: 1em;
  color: white;
  margin: 0 1em;
}

.login button{
  border-style: none;
  width: 100%;
  height: 4em;
  background: #5fc0cd;
}

#fo{
  list-style: none;
  font-size: 0.9em;
  color: #5fc0cd;
  text-decoration: underline;
  float: right;
  margin-top: 1em;
  cursor: hand;
}

span,button{
  font-family: "微软雅黑",sans-serif;
  font-size: 1.2em;
  color: white;
}

